@charset "UTF-8";

body{
    background-image: url("imagens/espaco.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
