@charset "UTF-8";

@font-face {
    font-family: "Passion";
    src: url("fontes/PassionOne-Regular.ttf") format('truetype'), url("fontes/PassionOne-Black.ttf") format('truetype'), url("fontes/PassionOne-Bold.ttf") format('truetype');
}

@font-face{
    font-family: "Sriracha";
    src: url("fontes/Sriracha-Regular.ttf") format('truetype');
}

body{
    margin: auto;
    font-family: 'Sriracha';
    font-size: larger;
}

header{
    position: relative;
    height: 200px;
    background-color: black;
    padding: 10px;


    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: xx-large;
}

header> h1{
    margin-bottom: 0px;
    text-align: center;
}
header > h2{
    margin-top: 0px;
    font-size: larger;
}

#container1{
    position: relative;
    background-color: white;
    height: 400px;
}
#conteudo1{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
}

#container2{
    position: relative;
    height: 450px;
    padding: 10px;
    background: black url("imagens/background001.jpg") center center no-repeat fixed;
    background-size: cover;
}
#conteudo2{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

    background-color: rgba(0, 0, 0, 0.574);
    padding: 10px;

    color: white;
}

#container3{
    position: relative;
    background-color: white;
    height: 600px;
}
#conteudo3{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
}


#container4{
    position: relative;
    height: 500px;
    padding: 10px;
    background: black url("imagens/background002.jpg") center center no-repeat fixed;
    background-size: cover;
}
#conteudo4{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

    background-color: rgba(0, 0, 0, 0.574);
    padding: 10px;

    color: white;
}

#container5{
    position: relative;
    background-color: white;
    height: 600px;
}
#conteudo5{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
}

footer{
    color: white;
    background-color: black;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}